<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout('Logout', ~{::div#content}, 'logout')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout - Desa Bantan Air</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

  

    <div id="content" class="logout-section">
        <h2>Logout</h2>
        <p>Anda yakin ingin keluar?</p>
        <p><a href="/"onclick="return confirm('Anda yakin ingin keluar?')">Logout</a></p>
        <p><a href="/">Login Kembali</a></p>
    </div>

  

</body>
</html>
