<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout('Profil', ~{::div#content}, 'profil')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Desa - Desa Bantan Air</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>


    <div id="content" class="profile-section" style="display: flex;">
        <div class="profile-info" style="width: 50%;">
            <h2>Profil Desa Bantan Air</h2>
            <img src="BantanAir.jpg" alt="Desa XYZ" width="100%">
            <p>Desa Bantan Air adalah salah satu desa yang berada diKecamatan Bantan, Kabupaten Bengkalis yang berada di bagian timur dari pulau Bengkalis. Desa ini dulunya merupakan desa induk. Namun, sejak tahun 2014 Desa Bantan Air mekar menjadi empat desa. Saat ini Desa Bantan Air memiliki enam dusun, dengan 27 RT dan 12 RW.</p>

            <h5>A. Geografis dan Demografis</h5>
            <p>Desa bantan air merupakan salah satu desa yang terletak di wilayah
                Kecamatan Bantan Kabupaten Bengkalis yang mempunyai jumlah penduduk
                6.550 jiwa atau 1.732 KK dengan luas daerah 7073 H, yang terdiri dari 8
                dusun. Batas wilayah desa bantan air adalah sebagai berikut :
                <br>a. Sebelah Utara berbatasan dengan : selat melaka
                <br>b. Sebelah Selatan berbatasan dengan : Kecamatan Bengkalis
                <br>c. Sebelah Barat berbatasan dengan : desa bantan tengah
                <br>d. Sebelah Timur berbatasan dengan : desa muntai
                <br>Jumlah penduduk desa bantan airkecamatan bantan selama 2014-2015
                menunjukkan peningkatan jumlah dari populasinya. Adanya pertumbuhan
                penduduk tiap tahunnya dalam satu wilayah merupakan salah satu faktor yang
                penting dalam kegiatan pembangunan. Penduduk merupakan suatu unsur
                penting dalam kegiatan pembangunan ekonomi suatu Negara terutama dalam
                meningkatkan produksi.</p>
        </div>
       <div style="width: 50%; padding: 10px; padding-top: 65px;">
        2. Kehidupan Beragama
        Memeluk agama merupakan hak asasi manusia. Kebebasan
        beragama di Negara Indonesia di jamin dalam UUD 1945 dalam pasal 29.
        17
        Sikap yang perlu dikembangkan dari pasal 29 UUD 1945 tersebut adalah
        toleransi antar umat beragama, dan tidak mencampur adukkan
        kepercayaan.
        Mayoritas masyarakat desa bantan air adalah Agama Islam.
        Walaupun Islam sebagai agama yang mayoritas, tidak ada penekanan
        maupun pemaksaan dari agama mayoritas ke agama minoritas.
        Hal ini membuktikan telah mantapnya toleransi antar umat
        beragama. Kerukunan antar umat beragama serta kesadaran untuk
        mengamalkan pancasila. 
       </div>

    </div>

    

</body>
</html>
